<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/deleteStyle.css" %}" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Bolo Indya</title>
  </head>
  <body>
    <a href="http://127.0.0.1:8000/songs/"><img src="{% static "images/close.svg" %}" alt="here boy" id="close"></a>
    <div class="container">
        <h3>Delete Song </h3>
            <form method="POST">
                
              <table class="update">
                  <tr>
                      <td>
                      <label>Are you sure you want to delete {{song.title}} from the Library</label>
                      </td> 
                  </tr>
                   <tr>
                      <td>
                        {% csrf_token %}
                      </td> 
                  </tr>  
              </table>
              <div class="btn">
              <button type="submit" id="btnCancel">Cancel</button>
              <button type="submit" id="btnSubmit">Submit</button>
                </div>
            </form>
            </div>
    </div>
  </body>
</html>